{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="mb-4">Namirnice na zalihi</h1>
    <div>
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}
{% block chart %}
    <script>
        const labels_db = {{labels_db|safe}}
        const data_db = {{values_db|safe}}
        const backColor = []
        for (i=0; i < data_db.length; i++) {
            if (data_db[i] < 3) { 
                backColor.push('red')
            } else if (data_db[i] >= 3 && data_db[i] < 5) { 
                backColor.push('yellow')
            } else { backColor.push('green')}
        }

        const data = {
        labels: labels_db,
        datasets: [
            {
            label: "Stanje na zalihu",
            backgroundColor: backColor,
            //borderColor: "rgb(255, 99, 132)",
            data: data_db
            },
        ],
        };

        const config = {
        type: "bar",
        data: data,
        options: {
            plugins: {
                legend: {
                    display: false
                }
            }
        }
        }

        const myChart = new Chart(document.getElementById("myChart"), config);
    </script>
{% endblock %}
