{% extends "base.html" %}
{% block title %}Narudzbe{% endblock %}
{% block content %}
    {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages  %}
                {% if category == "warning" %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }} <a href="{{ url_for('views.get_nabava')}}" class="alert-link">dodan u nabavu.</a>
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h1>Detalji narudzbe: {{ narudzba["id"] }}imeKupca</h1>
    <div class="row mt-4">
        <div class="col-6">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stavka</th>
                        <th scope="col">Kolicina</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stavka in narudzba["stavke"] %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ stavka["ime_jela"] }}</td>
                            <td>{{ stavka["kolicina"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-4">
        <h1>Potrebne namirnice</h1>
        <table class="table table-hover align-middle mt-3">
            <thead>
                <tr>
                    <th scope="col">Namirnica</th>
                    <th scope="col">Kolicina</th>
                    <th scope="col">Zaliha</th>
                    <th scope="col">Mjerna jedinica</th>
                </tr>
            </thead>
            <tbody>
                {% for nam in nabava %}
                    <tr>
                        <td>{{ nam["ime_nam"] }}</td>
                        <td>{{ nam["kolicina"] }}</td>
                        <td>{{ nam["zaliha"] }}</td>
                        <td>{{ nam["mj_jedinica"] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-end">
                        <form action="/narudzbe/{{ narudzba['id'] }}" method="POST">
                            <button class="btn btn-primary" type="submit">Zaprimi narudzbu</button>
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
