{% extends "base.html" %}
{% block title %}Nabava{% endblock %}
{% block content %}
    <div class="row mb-4 align-bottom">
        <div class="col-4">
            <h1>Nabava namirnica</h1>
        </div>
        <div class="col">
            <a class="btn btn-success mt-2"
               href="{{ url_for('views.narudzbenice')}}"
               role="button">Nova narudzbenica</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Namirnica</th>
                        <th scope="col">Kolicina</th>
                        <th scope="col">Mjerna jedinica</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nam in nabava_nam %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ nam.nam_id.ime_namirnice }}</td>
                            <td>{{ nam.kolicina }}</td>
                            <td>{{ nam.nam_id.mjerna_jedinica }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
