{% extends "base.html" %}
{% block title %}Narudzbe{% endblock %}
{% block content %}
    <h1>Narudzbe</h1>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Kupac</th>
                <th scope="col">Kontakt</th>
                <th scope="col">Kreirano</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for narudzba in narudzbe %}
                <tr>
                    <th scope="row">{{ narudzba["id"] }}</th>
                    <td>{{ narudzba["kupac"] }}</td>
                    <td>{{ narudzba["kontakt"] }}</td>
                    <td>{{ narudzba["datum_kreiranja"] }}</td>
                    <td>{{ narudzba["status"] }}</td>
                    <td>
                        <a class="btn btn-primary"
                           href="{{ url_for('views.detalji_narudzbe', narudzba_id=narudzba['id'])}}">Detalji</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
