{% extends "base.html" %}
{% block content %}
    <div class="row mb-4 align-bottom">
        <div class="col-4">
            <h1>Pregled normativa</h1>
        </div>
        <div class="col">
            <!-- Button trigger modal -->
            <button type="button"
                    class="btn btn-success mt-2"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                Dodaj normativ
            </button>
        </div>
    </div>
    <div>
        {% if jela %}
            <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                {% for jelo in jela %}
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">{{ jelo["ime_jela"] }}</div>
                            <ul class="list-group list-group-flush">
                                {% for norm in jelo["normativ"] %}
                                    <li class="list-group-item">
                                        {{ norm["ime_namirnice"] }}
                                        {{ norm["kolicina_nam"] }}
                                        {{ norm["mjerna_jedinica"] }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>
                Trenutno nema unesenih normativa
            </p>
        {% endif %}
    </div>
    <!-- Modal -->
    <div class="modal fade"
         id="exampleModal"
         tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodavanje normativa</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('views.dodaj_jelo')}}" method="POST">
                        <div class="mb-3">
                            <label for="imeJela" class="form-label">Ime jela</label>
                            <input type="text"
                                   class="form-control"
                                   id="imeJela"
                                   name="imeJela"
                                   aria-describedby="jeloHelp">
                            <div id="jeloHelp" class="form-text">Upisite ime jela te kliknite nastavi za definiranje normativa.</div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Nastavi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
