{% extends "base.html" %}
{% block content %}
    <h1 class="mb-4">Narudzbenica broj 237</h1>
    <table class="table">
        <thead>
            <tr>
                <th style="text-align: left" scope="col">#</th>
                <th style="text-align: left" scope="col">Stavka</th>
                <th style="text-align: left" scope="col">Kolicina</th>
                <th style="text-align: left" scope="col">Mjerna jedinica</th>
                <th style="text-align: left" scope="col">Dobavljac</th>
                <th style="text-align: left" scope="col">Cijena/kg</th>
                <th style="text-align: left" scope="col">Cijena</th>
            </tr>
        </thead>
        <tbody>
            {% for stavka in pdf %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ stavka["nam"] }}</td>
                    <td>{{ stavka["kol"] }}</td>
                    <td>{{ stavka["mj"] }}</td>
                    <td>{{ stavka["dob"] }}</td>
                    <td>{{ stavka["cij"] }}</td>
                    <td>{{ stavka["tot"] }}kn</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Ukupno {{ tot }} HRK</td>
            </tr>
            <tr data-html2canvas-ignore>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <button class="btn btn-success" onclick="toPdf()">
                        Ispisi narudzbenicu
                    </button>
                </td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
{% block chart %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function toPdf() {
            let element = document.getElementById('printPdf');
            var opt = {
                margin:       2,
                filename:     'myfile.pdf',
                html2canvas: { scrollY: 0 }
            };
            html2pdf().set(opt).from(element).save();
        }
    </script>
{% endblock %}
